<div class="info">
<img class="info__img" src='{{this.flags.svg}}' height='50' width='50'/>
<p class="info__country">{{this.name.official}}</p>
</div>
<p class="info__txt"><b>Capital</b>: {{this.capital}}</p>
<p class="info__txt"><b>Population</b>: {{this.population}}</p>
<p class="info__txt"><b>Languages</b>: {{this.languages}}</p>